# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Training artifacts
*.pth
*.pt
*.ckpt
*.csv
runs/
tensorboard/

# Experiment outputs
checkpoints/
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log